body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* max-width: 900px; */
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
} */

header a,
header button {
  font-size: 1rem;
  display: inline-block;
  background-color: #fff8e7;
  border: 1px solid salmon;
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: salmon;
  cursor: pointer;
}

main {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  height: 82vh;
  align-items: center;
  justify-content: center;
  overflow: auto;
  box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.5);
  position: relative;
}

form {
  background-color: #fff8e7;
  border: 1px solid salmon;
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  padding: 0 1rem 1rem;
}

form input {
  margin: 0.25rem 0;
}

form button[type="submit"] {
  width: 40%;
}

.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards{
  list-style: none;
  margin: 1rem;
  /* width: 350px; */
  border: 1px solid white;
  /* margin: auto; */
  /* margin: fixed;  */
  background-color: white; 
  float: left;
  width: 50%; /* adjust this value to adjust the width of the card */
  height: 450px;
  position: abosolute;
  z-index: -1;
}

.cards img {
  width: 100%;
}

.cards img {
  width: 100%;
}

.card button {
  margin-top: 0.5rem;
}

/* @media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .cards {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .cards {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
} */

.cards {
  width: 350px;
  padding: 20px;
  border-radius:10px;
  box-shadow: 0 0 15px 7px grey;
  /* margin-right: 5ch; */
  align-items: center;
  
}
body {
  font-family: 'Bellarosta', sans-serif;
  
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-repeat: no-repeat;
    background-size: 100% 250%;
    background-image: url("https://www.tastingtable.com/img/gallery/20-different-types-of-coffee-explained/intro-1659544996.jpg");
    background-size: cover;
  
}

.container {
  display: flex;
  justify-content: space-between;
}

.link {
  flex: 1;
}

.landing button {
  float: right;
}