body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* max-width: 900px; */
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
} */

header a,
header button {
  font-size: 1rem;
  display: inline-block;
  background-color: #fff8e7;
  border: 1px solid brown;
  margin: 1%;
  padding: 10px;
  text-decoration: none;
  color: brown;
  cursor: pointer;
  border-radius: 10px;
}

a.link{
  text-align: center;
  width: 300px;
  height: 20px;

}

main {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  height: 82vh;
  align-items: center;
  justify-content: center;
  overflow: auto;
  box-shadow: inset 0 0 20px 5px rgb(59, 3, 3, .9);
  position: relative;

}

form {
  background-color: #fff8e7;
  border: 1px solid brown;
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  padding: 0 1rem 1rem;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  
}




.App {
  text-align: center;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


input.button{
  border-radius: 7.5px;
}


.cards {
  width: 350px;
  padding: 20px;
  border-radius:10px;
  box-shadow: 0 0 15px 7px grey;
  align-items: center;
  z-index: 2;
  list-style: none;
  margin: 1rem;
  border: px solid brown;
  background-color: #fff8e7;
  float: left;
  
}

.cards img {
  width: 100%;
  height: 250px;
  width: 350px;
}

.cards2 {
  width: 350px;
  padding: 20px;
  border-radius:10px;
  box-shadow: 0 0 15px 7px grey;
  align-items: center;
  z-index: 2;
  list-style: none;
  margin: 1rem;
  border: px solid brown;
  background-color: #fff8e7;
  float: left;
  
}

.cards2 img {
  width: 100%;
  height: 250px;
  width: 350px;
}


body {
  font-family: 'Bellarosta', sans-serif;
  
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-repeat: no-repeat;
    background-size: 100% 250%;
    background-image: url("https://www.tastingtable.com/img/gallery/20-different-types-of-coffee-explained/intro-1659544996.jpg");
    background-size: cover;
  
}

.container {
  display: flex;
  justify-content: space-between;
}

.link {
  flex: 1;
}

.siteTitle{
  color:black;
  text-align: center;
  font-style:italic;
}

.or2{
  margin-left: 60px
}

.or {
  color: brown;
  margin-left: auto;
  margin-right: auto;
}


.buttonContainer{
  background-color: #fff8e7;
  border: 1px solid salmon;
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 15px;
  border-radius:10px;
}
.buttonContainer2{
  margin: auto;
  display: block;
  /* width: 50%; */
  

}

button {
  width: 140px;
  text-align: center;
  background-color: brown;
  color: white;
  border-radius: 7.5px;

}

.button {
  width: 140px;
  text-align: center;
  background-color: brown;
  color: white;
}


.storeCards{
  list-style: none;
  margin: 1rem;
  padding: 20px;
  border: 1px solid salmon;
  border-radius: 15px;
  background-color: #fff8e7 ; 
  height: 225px;
  float: left;
  width: 350px; 
  align-items: center;
  box-shadow: 0 0 15px 7px grey;
  z-index: -1;
}

.storeDeleteButton{
  border-radius: 15px;
  background-color: rgb(145, 10, 10);
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 100px
  }


